:root {
    font-family: Arial, Helvetica, sans-serif;
    --navbarColor: #f1a536;
    --extraMenuColor: #dadfea;
}

body {
    display: flex;
    flex-direction: column;
    font-size: "20px";
    font-weight: bolder;
    margin: 0 auto;
}

.logo {
    transform: scale(0.5);
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--navbarColor);
    z-index: 2;
    height: 5rem;
    padding-right: 4rem;
}

.topnav a {
    text-decoration: none;
    font-size: small;
    color: black;
    padding: 0rem 1rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 2px;
    background-image: url("hero-image.jpg");
    background-size: cover;
}

.herospan {
    transform: translateY(50px);
    background-color: white;
    padding: 0.75rem;
}