:root {
    font-family: Arial, Helvetica, sans-serif;
    --navbarColor: #f1a536;
    --lightBlueColor: #dadfea;
    --heroPx: 400px;
}

body {
    display: flex;
    flex-direction: column;
    font-size: "20px";
    font-weight: bolder;
    margin: 0 auto;
}

.logo {
    transform: scale(0.5);
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--navbarColor);
    z-index: 2;
    height: 5rem;
    padding-right: 4rem;
}

.topnav a {
    text-decoration: none;
    font-size: small;
    color: black;
    padding: 0rem 1rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--heroPx);
    margin-top: 2px;
    background-image: url(../Images/hero-image.jpg);
    background-size: cover;
}

.herospan {
    transform: translateY(120px);
    background-color: white;
    padding: 0.5rem;
    font-size: 25px;
}

.whiteSection {
    background-color: whitesmoke;
    height: auto;
    padding: 1.5rem 5rem;
}

p {
    font-weight: lighter;
    letter-spacing: .02rem;
}

sub {
    letter-spacing: .02rem;
}

.everydayMeals {
    display: flex;
    justify-content: space-between;
}

.mealItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
}

.mealItem :first-child {
    display: flex;
    background-size: cover;
    width: 100%;
    aspect-ratio: 4/3;
    margin-top: 1.5rem;
}

.mealItem :nth-child(2) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#breakfastPic {
    background-image: url(../Images/breakfast-ideas.jpg);
}

#lunchPic {
    background-image: url(../Images/vegetarian-ideas.jpg);
}

#dinnerPic {
    background-image: url(../Images/cold-weather-dinners.jpeg);
}

.blueSection {
    background-color: var(--lightBlueColor);
    height: auto;
    padding: 2rem 5rem;
}

.recipesOfWeek {
    display: flex;
    justify-content: space-between;
}

.recipeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.recipeItem :first-child {
    display: flex;
    background-size: cover;
    width: 100%;
    aspect-ratio: 4/3;
    margin-top: 1.5rem;
}

.recipeItem :nth-child(2) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#fajitaPic {
    background-image: url(../Images/fajita-peppers.jpeg)
}

#muffinPic {
    background-image: url(../Images/muffins.jpeg)
}

#parmesanPic {
    background-image: url(../Images/eggplant-parmesan.jpg)
}

#pizzaPic {
    background-image: url(../Images/pizza.jpeg)
}

.destinations .mealPic {
    border: 10px solid var(--lightBlueColor);
}

#sandwichPic {
    background-image: url(../Images/sandwichPic.jpg);
}

#bowlPic {
    background-image: url(../Images/bowlFood.jpg);
}

#pizzasPic {
    background-image: url(../Images/diffPizzas.jpg);
}

.bottomNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbarColor);
    height: 5rem;
    padding: 0rem 5rem;
}

.bottomNav a {
    text-decoration: none;
    font-size: small;
    color: black;
    padding-left: 1rem;
}