:root {
    font-family: Arial, Helvetica, sans-serif;
    --navbarColor: #f1a536;
    --extraMenuColor: #dadfea;
}

body {
    font-size: "20px";
    font-weight: bolder;
}

.logo {
    transform: scale(0.5);
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: var(--navbarColor);
    z-index: 2;
    margin: -1rem;
    height: 4rem;
}

.topnav a {
    text-decoration: none;
    font-size: small;
    color: black;
    padding: 0rem 1rem;
}